<?xml version="1.0"?>
<launch>
	<node pkg="autopark" type="controller_parking" 		name="controller_parking"		required="false" />
	<node pkg="autopark" type="controller_move" 		name="controller_move"/>
	<node pkg="autopark" type="controller_turn" 		name="controller_turn"/>
	<node pkg="autopark" type="search_parking_space_lf" 	name="search_parking_space_lf" />
	<node pkg="autopark" type="search_parking_space_lb" 	name="search_parking_space_lb" />
	<node pkg="autopark" type="search_parking_space_rf" 	name="search_parking_space_rf" />
	<node pkg="autopark" type="search_parking_space_rb" 	name="search_parking_space_rb" />
	<node pkg="autopark" type="choose_parking_space" 	name="choose_parking_space" />
	<node pkg="autopark" type="surround_monitor" 		name="surround_monitor" />
	<node pkg="autopark" type="parking_in" 			name="parking_in"/>

	<node pkg="autopark" type="sensor_encoder" 		name="sensor_encoder" />
	<node pkg="autopark" type="sensor_apa_lf" 		name="sensor_apa_lf" />
	<node pkg="autopark" type="sensor_apa_lb" 		name="sensor_apa_lb" />
	<node pkg="autopark" type="sensor_apa_lb2" 		name="sensor_apa_lb2" />
	<node pkg="autopark" type="sensor_apa_rf" 		name="sensor_apa_rf" />
	<node pkg="autopark" type="sensor_apa_rb" 		name="sensor_apa_rb" />
	<node pkg="autopark" type="sensor_apa_rb2" 		name="sensor_apa_rb2" />

	<node pkg="autopark" type="sensor_upa_fl" 		name="sensor_upa_fl" />
	<node pkg="autopark" type="sensor_upa_fcl" 		name="sensor_upa_fcl" />
	<node pkg="autopark" type="sensor_upa_fcr" 		name="sensor_upa_fcr" />
	<node pkg="autopark" type="sensor_upa_fr" 		name="sensor_upa_fr" />

	<node pkg="autopark" type="sensor_upa_bl" 		name="sensor_upa_bl" />
	<node pkg="autopark" type="sensor_upa_bcl" 		name="sensor_upa_bcl" />
	<node pkg="autopark" type="sensor_upa_bcr" 		name="sensor_upa_bcr" />
	<node pkg="autopark" type="sensor_upa_br" 		name="sensor_upa_br" />
</launch>
